spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: customer-service
            uri: lb://DATA-JPA-DSL-MULTIPART
            predicates: 
              - Path=/api/v1/customers/**
          - id: invoice-service
            uri: lb://INVOICE-SERVICE
            predicates:
              - Path=/api/v1/invoices/**

server:
  port: 8020
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted
    health:
      show-details: always