server:
  port: 4040
management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
      health:
        show-details: always
      circuitbreakers:
        enabled: true

  health:
      circuitbreakers:
        enabled: true


resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        automaticTransitionFromOpenToHalfOpenEnabled: true
        failureRateThreshold: 50
        minimumNumberOfCalls: 3
        permittedNumberOfCallsInHalfOpenState: 2
        slidingWindowSize: 10
        waitDurationInOpenState: 5s
        slidingWindowType: COUNT_BASED
    instances:
        sample:
            baseConfig: default

